<style>
    .contribList  > li {float: left;width: 20%;}
    .contribList .item {margin: 15px 15px 25px 15px;border-radius: 6px;box-shadow: 0px 1px 1px #efefef;}
    .contribList .bgimage {height: 100px;border-radius: 6px 6px  0 0;margin: 0px;background-repeat: repeat;background-color: #d5dae4;}
    .contribList .info {
        border: 0;
        padding: 15px;
        font-size: 18px;
        color: #343434;
        text-align: center;
        background: #f7f7f7;
        border-radius: 0 0 6px 6px;
        position: relative;
        padding-top: 35px;
    }
    .contribList .authorimg {
        position: absolute;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        top: -45px;
        left: 50%;
        margin-left: -32px;
    }
    </style>

    <h1 class="ipsType_pagetitle">Contributors of Tutorial : {$data['tutorialData']['a_name']}</h1>

    <br />

    <div class="ipsBox ipsLayout clearfix">
    <div class="ipsLayout_content">
        <div class="maintitle">Revision Contributors of Tutorial</div>
        <div class="ipsBox_container ipsPad">


    <ul class="contribList clearfix">
    <li>
        <div class="item">
            <div class="bgimage" style="background-image:url(https://www.solvetic.com/other_addons/solvetic/texture_tp.png);"></div>
            <div class="info">
                <img class="authorimg" src="http://localhost/ipb348/uploads/profile/photo-thumb-1.png?_r=1513785173" />
                Gaurav Amaz
            </div>
        </div>
    </li>
    </ul>

    <if test="is_array($data['contributors']) && count($data['contributors'])">
    <foreach loop="$data['contributors'] as $c">
    {$c['members_display_name']}
    </foreach>
    </if>

        </div>
    </div>
    </div>

