
<br />

<h1 class="ipsType_pagetitle">
	{$data['heading']} : {$data['tutorial']['a_name']}
	<div class="desc" style="margin-top:8px;">This is the description text</div>
</h3>

<br /><br />

<form id="postingform" action="{parse url="app=tutrevisions&module=revisions&section=post" base="public"}" method="post" enctype="multipart/form-data">
<div class="ipsBox ipsForm_vertical ipsLayout ipsLayout_withright ipsPostForm clearfix">
	<div class="ipsBox_container ipsLayout_right ipsPostForm_sidebar">
		<div class="short" style="padding: 20px;">
			<button class="ipsButton" type="submit" name="do" value="preview">Preview</button>
			<br /><br />

			<button class="ipsButton" type="submit" name="do" value="submit"><if test="$data['formtype'] == 'add'">Submit Revision</if><if test="$data['formtype'] == 'edit'">Submit Changes</if></button>

			<br /><hr style="display: block;margin-top: 20px;opacity: 0.3;"><br />
			<a class="ipsButton important" title="Cancel & Go back to Tutorial" href="{parse url="app=tutorials&article={$data['tutorial']['a_id']}" base="public" seotitle="{$data['tutorial']['a_name_seo']}" template="article"}">Cancel</a>
		</div>
	</div>

	<div class="ipsBox_container ipsLayout_content">
		<div class="ipsForm ipsForm_vertical ipsPad">
			{$data['editor']}
		</div>

		<div class="revisionUploadForm">{$data['uploadForm']}</div>

	</div>
	<fieldset>
		<input type="hidden" name="formtype" value="{$data['formtype']}" />
		<input type="hidden" name="tutorial" value="{$data['tutorial']['a_id']}" />
		<input type="hidden" name="secure_key" value="{$this->member->form_hash}" />
		<if test="$data['revision']['r_id']">
			<input type="hidden" name="revision" value="{$data['revision']['r_id']}" />
		</if>
	</fieldset>
</div>


<if test="$data['preview']">
<br /><br /><br />
<div class="ipsForm_vertical ipsLayout ipsLayout_withright ipsPostForm clearfix">
	<div class="ipsLayout_content">
		<h3 class="maintitle">Revision Preview</h3>
		<div class="ipsBox"><div class="ipsBox_container ipsPad">{$data['preview']}</div></div>
	</div>
</div>

</if>